.body{
    padding: 20px;
    margin: 20px;
}
#profileTeam{
    padding: 20px;
    border: black;
    border-radius: 15px;
}
#button{
    justify-content: space-between;
    border-radius: 30px;
    

}