@import "~bootstrap/scss/bootstrap";

#prod-container {
    
    width: 90%;
    margin: 5rem auto;
    border: solid grey 1px;
    border-radius: 1.3%;

    h1 {

        padding: 3rem;
    }

}

#box-prod {
    gap: 1.3rem;

    width: 90%;
    margin-top: 2rem;
}